.containerDuvidas {
  width: 100%;
  margin: 0 auto;
  background-color: #2C2C2C;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 100px;
}

.tituloDuvidas {
  padding: 50px;
  text-align: center;
}

.tituloDuvidas h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.88rem;
  font-weight: 700;
  font-style: normal;
  color: #00FF7F;
}

.tituloDuvidas h4 {
  font-family: "Lato", system-ui;
  font-size: 1.13rem;
  font-weight: 700;
  font-style: normal;
  color: #00FF7F;
  padding: 12px 0;
}

.conteudoDuvidas {
  display: flex;
  justify-content: space-between;
}

.perguntasDuvidas {
  width: 45%;
  font-family: "Lato", system-ui;
  font-size: 1.13rem;
  font-weight: 400;
  font-style: normal;
  color: #FFFFFF;
  padding: 32px;
}

@media (max-width: 600px) {
  .containerDuvidas {
    max-width: 600px;
    width: 100%;
  }

  .perguntasDuvidas {
    height: 50%;
    display: block;
  }

  .tituloDuvidas{
    padding: 0 auto;
    display: block;
  }

  .tituloDuvidas h1 {
    font-size: 20px;
  }

  .tituloDuvidas p {
    font-size: 8%;
  }

  .tituloDuvidas strong {
    font-weight: 300;
  }
}
