.radioButtonContainer {
  margin-bottom: 10px; /* Espaçamento entre os botões */
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.radioButtonContainer h4 {
  width: 100%;
  padding: 20px 0;
}

.radioButtonContainer input[type='radio'] {
  display: none; /* Oculta o input de rádio padrão */
}

.radioButtonContainer label {
  display: inline-block;
  padding: 8px 16px;
  margin-right: 20px; /* Espaçamento entre os botões */
  background: #f9f8f6;
  border: 1px solid #d2cec5;
  cursor: pointer;
  font-size: 16px;
  color: #707070; /* Cor do texto preto */
  border-radius: 20px; /* Borda arredondada */
  min-width: 45px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.radioButtonContainer label:hover {
  background-color: #ddd; /* Cor de fundo ao passar o mouse */
  color: #fff;
}

.radioButtonContainer input[type='radio']:checked + label {
  background: #ba202d;
  color: #fff; /* Cor do texto quando selecionado */
}
