* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.containerAgenda {
  width: 100%;
  height: 1500px;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F2F2F2;
  position: relative;  
}

.background {
  width: 100%;
  margin: 0 auto;
  position: absolute;
}

.tituloagenda {
  margin: 0 auto;
  display: flex;
  padding: 25px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 0;
}

.tituloagenda h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.88rem;
  font-weight: 700;
  color: #FFFFFF;
  padding: 8px 0 40px 0;
}

.tituloagenda h4 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.13rem;
  font-weight: 700;
  color: #FFFFFF;
  padding: 12px 0;
}

.titulo h4::before {
  content: "|";
  position: relative;
  top: -2px;
  left: -4px;
}

.calendarioAgenda {
  display: flex;
  gap: 35px;
  margin-bottom: 50px;
  z-index: 0;
}

.imagemAgenda {
  padding: 25px;
}

@media (max-width: 600px) {
  .containerAgenda {
    max-width: 600px;
    width: 100%;
  }

  .tituloagenda {
    padding: 0 auto;
  }

  .tituloagenda h1{
    font-size: 1.5rem;
    line-height: 1;
    text-align: center;
  }

  .tituloagenda h4 {
    font-size: 1rem;
    text-align: center;
  }

  .calendarioAgenda {
    gap: 17px;
    margin-bottom: 25;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: auto;
  }

  .imagemAgenda {
    width: 100%;
    height: auto;
    padding: 0 auto;
  }
  
  .calendarioAgenda {
    gap: 10px;
    flex-direction: column;
    padding: 10px;
  }
  .imagemAgenda img {
    width: 50%;
  }
}
