* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.containerAgenda {
  width: 100%;
  margin: 0;
  height: 1030px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #2c2c2c;  
}

.titiloagenda {
  margin: 0 auto;
  display: flex;
  padding: 25px;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
}

.titiloagenda h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.88rem;
  font-weight: 700;
  font-style: normal;
  color: #00FF7F;
}

.titiloagenda h4 {
  font-family: "Lato", system-ui;
  font-size: 1.13rem;
  font-weight: 700;
  font-style: normal;
  color: #00FF7F;
  padding: 12px 0;
}

.calendarioAgenda {
  display: flex;
  gap: 35px;
  margin-bottom: 50px;
}

.imagemAgenda {
  padding: 25px;
}

@media (max-width: 600px) {
  .containerAgenda {
    max-width: 600px;
    width: 100%;
    height: auto;
  }

  .titiloagenda {
    padding: 0 auto;
  }

  .titiloagenda h1{
    font-size: 22px;
  }

  .calendarioAgenda {
    gap: 17px;
    margin-bottom: 25;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: auto;
  }

  .imagemAgenda {
    width: 100%;
    height: auto;
    padding: 0 auto;
  }
  
  .calendarioAgenda {
    gap: 10px;
    flex-direction: column;
    padding: 10px;
  }
  .imagemAgenda img {
    width: 100%;
  }
}
