.containerFooter {
  width: 100%;
  background-color: #BA202D;
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 280px;
  margin: 0 auto;
}

.containerFooter img {
  width: 160px;
  height: 160px;
}
.containerFooter p {
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  text-align: center;
}

@media (max-width: 600px) {
  .containerFooter {
    max-width: 600px;
    min-width: 100%;
  }

  .containerFooter img {
    width: 160px;
    height: 160px;
  }

  .containerFooter p {
    padding: 10px;
    font-size: 12px;
  }
}
