@keyframes animacao {
  from {
    color: white;
  }
  to {
    color: #ba202d;
  }
}

@keyframes animacaobtn {
  from {
    background-color: transparent;
  }
  to {
    background-color: #ba202d;
  }
}

.container {
  position: sticky;
  top: 0;
  overflow: hidden;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}

.container a {
  padding: 10px;
  text-align: left;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
}

.logo {
  width: 100px;
  height: 100px;
}

.menuItem {
  line-height: 25px;
  color: #FFFFFF;
}

.menuItem:hover {
  color: #BA202D;
  animation-name: animacao;
  animation-duration: 0.5s;
}

.buttonMenu {
  padding: 5px;
  font-size: 14px;
  font-weight: 700;
  color: #FFFFFF;
  border: 2px solid white;
  border-radius: 40px;
  text-transform: uppercase;
}

.buttonMenu:hover {
  background-color: #BA202D;
  animation-name: animacaobtn;
  animation-duration: 0.5s;
  border: none;
  color: #FFFFFF;
}


.scrolled {
  background-color: #ba202d; /* Altere para a cor de fundo desejada quando o menu estiver sendo rolado */
}

.scrolled:hover {
  a {
    color: #ffff;
    animation-name: animacao;
    animation-duration: 0.0s;
  }
}






@media (max-width: 600px) {
  .container {
    max-width: 600px;
    width: 100vw;
    position: absolute;
  }

  .container nav {
    display: none;
  }
}
