@keyframes animacao {
  from {
    color: #FFFFFF;
  }
  to {
    color: #022CFE;
  }
}

@keyframes animacaobtn {
  from {
    background-color: transparent;
  }
  to {
    background-color: #022CFE;
  }
}

.container {
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  overflow: hidden;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  background-color: transparent;
}

.container a {
  padding: 10px;
  text-align: left;
  text-decoration: none;
}

.logo {
  width: 100px;
  height: 100px;
}

.menuItem {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 25px;
  color: #FFFFFF;
}

.menuItem:hover {
  color: #022CFE;
  animation-name: animacao;
  animation-duration: 0.5s;
}

.buttonMenu {
  padding: 5px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #FFFFFF;
  border-radius: 40px;
  text-transform: uppercase;
  background-color: #022CFE; /* For browsers that do not support gradients */
  background-image: linear-gradient(#D32AD3, #022CFE);
}

.buttonMenu:hover {
  background-color: #022CFE; /* For browsers that do not support gradients */
  background-image: linear-gradient(#022CFE, #D32AD3);
  animation-name: animacaobtn;
  animation-duration: 0.5s;
  border: none;
  color: #FFFFFF;
}

.scrolled {
  background-color: #007BFF; /* Altere para a cor de fundo desejada quando o menu estiver sendo rolado */
  z-index: 1;
}

.scrolled:hover {
  a {
    color: #ffff;
    animation-name: animacao;
    animation-duration: 0.0s;
  }
}



@media (max-width: 800px) {
  .container {
    padding: 10px;
  }

  .container a {
    padding: 12px 16px;
    border-radius: 4px;
  }

  .buttonMenu {
    padding: 2px;
    font-size: 12px;
  }  
}



@media (max-width: 600px) {
  .container {
    gap: 12px;
    display: block;
  }
  .container a {
    display: none;
  }
}