@keyframes animacaorezerva {
  from { background-color: transparent; }
  to { background-color: #022CFE; }
}

.containerBanner {
  position: relative;
  width: 100%;
  height: 900px;
  background-color: #F2F2F2;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.videoWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 120vw;
  height: 120vh;
  transform: translate(-50%, -50%);
  border: none;
  pointer-events: none;
  object-fit: cover;
}


.videoWrapper iframe {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: none;
  pointer-events: none;
  
}

.imgBanner {
  display: none;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: #F2F2F2;
}

.textobanner{
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  color: #FFFFFF;
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  font-weight: 700;
}

.textobanner img {
  width: 100%;
  max-width: 560px;
  height: auto; 
}

.textobanner p {
  padding: 40px 0;
}

.textobanner a {
  font-size: 18px;
  text-decoration: none;
  color: #FFFFFF;
}

.butaoBanner {
  padding: 15px 30px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 40px;
  background-image: linear-gradient(#D32AD3, #022CFE);
  color: #FFFFFF;
  border: none;
  cursor: pointer;
  transition: background 0.3s;
}

.butaoBanner:hover,
.butaoBanner:focus {
  background-image: linear-gradient(#022CFE, #D32AD3);
  animation: animacaorezerva 0.5s forwards;
}

.countdownOverlay {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 3;
  color: white;
  font-size: 2rem;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 10px 20px;
  border-radius: 8px;
}


@media (max-width: 800px) {
  .containerBanner {
    height: auto;
    flex-direction: column;
  }

  .videoWrapper {
    display: none;
  }

  .imgBanner {
    display: block;
  }

  .textobanner {
    font-size: 24px;
    padding: 20px;
  }

  .textobanner h1 {
    font-size: 25px;
  }

  .textobanner p {
    font-size: 14px;
    padding: 20px 0;
  }

  .textobanner a {
    font-size: 14px;
  }

  .butaoBanner {
    font-size: 14px;
    margin: 10px;
  }

  .countdownOverlay {
    position: static;
    margin-top: 20px;
  }
}

@media (max-width: 600px) {
  .textobanner {
    font-size: 20px;
    font-weight: 400;
  }
}
