@keyframes animacaoTransfer {
  from {
    background-color: transparent;
  }
  to {
    background-color: white;
  }
}

.containerTransfer {
  width: 100%;
  height: 600px;
  margin: 95px auto;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.textoTransfer {
  display: flex;
  flex-direction: column;
}

.conteudoTransfer {
  position: absolute;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  height: 456px;
  width: 560px;
  margin-left: 50px;
}

.conteudoTransfer p{
  font-size: 14px;
}

.background {
  width: 100%;
  margin: 0 auto;
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.background img {
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.titleTransfer {
  margin: 0 auto;
  display: flex;
  padding: 25px;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  font-family: "Montserrat", sans-serif;
}

.titleTransfer p {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  color: #111111;
}

.titleTransfer h1 {
  font-size: 35px;
  padding: 25px;
  color: #022CFE;
}

.titleTransfer h4 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.13rem;
  font-weight: 700;
  font-style: normal;
  color: #D32AD3;
  padding: 12px 0;
}

.titleTransfer h4::before {
  content: "|";
  position: relative;
  top: -2px;
  left: -4px;
}

.conteudoTransfer h1 {
  font-size: 35px;
  font-weight: 700;
}

.bntTransfer {
  padding: 15px;
  font-family: "Montserrat", sans-serif;;
  font-size: 16px;
  font-weight: 700;
  color: #FFFFFF;
  border-radius: 40px;
  text-transform: uppercase;
  background-color: #022CFE; /* For browsers that do not support gradients */
  background-image: linear-gradient(#D32AD3, #022CFE);
}

.bntTransfer:hover {
  animation-name: animacaobtn;
  animation-duration: 0.5s;
  border: none;
  color: #FFFFFF;
  background-color: #022CFE; /* For browsers that do not support gradients */
  background-image: linear-gradient(#022CFE, #D32AD3);
}

.obsTransfer{
  font-size: 12px;
  font-weight: 200;
}

@media (max-width: 600px) {
  .containerTransfer {
    max-width: 600px;
    width: 100%;
    height: 600px;
  }

  .conteudoTransfer {
    justify-content: center;
    height: 456px;
    width: 560px;
    margin-left: 50px;
  }

  .background {
    width: 100%;
    height: 600px;
  }

  .background img {
    width: 100%;
    height: 600px;
    margin: 0 auto;
  }

  .conteudoTransfer {
    width: 100%;
    flex-direction: column;
    margin-left: 0;
  }
}